.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 20px;
}
